<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BTHGConnectionString" connectionString="Data Source=118.69.204.199;Initial Catalog=BTHGMSDB;User ID=bthg;Password=!vinamilk100G!"
      providerName="System.Data.SqlClient" />
    <add name="BTHGMSDBConnectionString" connectionString="Data Source=118.69.204.199;Initial Catalog=BTHGMSDB;User ID=bthg"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <pages maintainScrollPositionOnPostBack="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="GemBox.Spreadsheet, Version=37.3.30.1128, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>
        <add assembly="GemBox.Spreadsheet.WinFormsUtilities, Version=37.3.30.1128, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>